<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asideal.lflk.system.mapper.TbSysUserMapper">

    <select id="getUserByUserName"  resultType="TbSysUser">
        select
          u.*
        from
             tb_sys_user u
        where user_name = #{userName}

    </select>
</mapper>
