<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asideal.lflk.system.mapper.TbSysMenuMapper">
    <select id="getComponentByRoleNames" resultType="TbSysMenu">
        select * from tb_sys_menu where id in (
            select menu_id
            from tb_sys_role_menu
            where role_id in (
                select id from tb_sys_role where role_name in
        <foreach collection="roleNames" item="roleName" open="(" close=")" separator=",">
            #{roleName}
        </foreach>
            ) and deleted = '0'
        ) and component is not null and disabled = '0' and deleted = '0'
    </select>
    <select id="getMenuTreeTable" resultType="TbSysMenu">
        select a.id, a.icon, title, if(title is not null, name, title) as name, if(title is not null, title, name) as label, parent_id ,hidden, path, create_time, order_num, type, affix, component
        from (
            select menu.id as id, meta.icon as icon, menu.name as name, meta.title as title,menu.parent_id as parent_id, menu.hidden as hidden, menu.create_time, menu.path, menu.order_num, menu.type, meta.affix, menu.component
            from tb_sys_menu menu
            left join tb_sys_menu_meta meta
            on menu.id = meta.menu_id
            where menu.deleted = '0'
        ) a
    </select>
</mapper>
